.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .popup-transparent .mapboxgl-popup-content {
    background: rgba( 255, 255, 255, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
  }

  .popup-transparent.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
      border-top-color: rgba( 255, 255, 255, 0.85 ) !important;
  }

  .popup-transparent.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba( 255, 255, 255, 0.85 ) !important;
  }
  .popup-transparent.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
      border-bottom-color: rgba( 255, 255, 255, 0.85 ) !important;
  }

  .popup-transparent.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba( 255, 255, 255, 0.85 ) !important;
  }